<!DOCTYPE html>
<html lang="en">

<head>
	<title>GoWeck - Alarm Clock for Raumserver</title>
	<meta charset="utf-8"  />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<link rel="stylesheet" href="../static/alarmTable.css" />
	<script type="text/javascript" src="../static/jqueryRaumserver.js"></script>
	<link rel="stylesheet" href="../static/stopModal.css" />

</head>

<body onload="getAlarms();populateZoneSelect();populateStreamSelect();checkRunningAlarm()">

<!-- The Modal -->
<div id="stopModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">Stop Alarm</span>
  </div>
</div>

<script src="../static/stopModal.js"></script>

<h2 id="configuredAlarmsHeading" style="display:none">Configured Alarms</h2>

<div class="Rtable Rtable--4cols Rtable--collapse" name="currentAlarms" id="currentAlarms" style="display:none"></div>

	<h2>Create New Alarm</h2>
	<div class="Rtable Rtable--6cols Rtable--collapse">
	  <div class="Rtable-cell Rtable-cell--head">
			<input id="timepicker" class="timepicker text-center bgfix widthfix" jt-timepicker time="model.time" time-string="model.timeString" default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime" min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval" dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" />
		</div>
	  <div class="Rtable-cell">
			<select name="timeframeSelect" id="timeframeSelect" class="widthfix">
				<option value="Mon-Fri">Mon-Fri</option>
				<option value="Sat-Sun">Sat-Sun</option>
			</select>
		</div>
		<div class="Rtable-cell">
			<select name="streamSelect" id="streamSelect" class="widthfix">
			</select>
		</div>
		<div class="Rtable-cell">
			<select name="raumfeldZoneSelect" id="raumfeldZoneSelect" class="widthfix">
			</select>
		</div>
		<div class="Rtable-cell">
			<select name="endVolumeSelect" id="endVolumeSelect" class="widthfix">
				<option value="35">Silent (35)</option>
				<option value="40">Normal (40)</option>
				<option value="45">Loud (45)</option>
			</select>
		</div>
		<div class="Rtable-cell Rtable-cell--foot">
			<input class="widthfix" type="button" onclick="createAlarm()" id="alarmEnabled" value="Add" />
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
  <script>
	$(document).ready(function(){
		$('input.timepicker').timepicker({
    	timeFormat: 'HH:mm',
    	interval: 15,
    	minTime: '00',
    	maxTime: '23',
    	defaultTime: '07',
    	startTime: '00',
    	dynamic: false,
    	dropdown: true,
    	scrollbar: true
		});
		$('input, select, textarea').on('focus blur', function(event) {
    	$('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1,maximum-scale=' + (event.type == 'blur' ? 10 : 1));
  	});
	});
	</script>

</body>
</html>
